<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.VehicleMapper" >
	
	<resultMap type="Vehicle" id="vehicleResultMap">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<discriminator javaType="int" column="vehicle_type">
			<case value="1" resultType="Car">
				<result column="door_count" property="doorCount"/>
			</case>
			<case value="2" resultType="Suv">
				<result column="all_wheel_drive" property="allWheelDrive"/>
			</case>
		</discriminator>
	</resultMap>
	
	<select id="selectVehicleById" parameterType="int" resultMap="vehicleResultMap">
		select * from vehicle where id = #{id}
	</select>
	
</mapper>